body {
  background-color: beige;
}

h1 {
  color: aqua;
  transition: color 0.5s;
}

.clicked {
  color: tomato;
}

.sexy-font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
